.top_bar{
    background-color: #ffffff;
    background-image: url('./pics/bg.jpg');
    background-size: 100% auto;
    height: 150px;
}

.top_bar_black{
    width: 100%;
    height: 100%;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    background-color: rgba(0,0,0,0.5);
    color: #dddddd;
    text-shadow: 1px 1px 1px rgba(0.2, 0.2, 0.2, 0.7);
    padding-top: 65px;
}

.outside_container{
    padding: 30px;
}

.picture_block{
    width: 100%;
    height: auto;
    margin-top: 10px;
}

.post_title{
    font-size: 1.8rem;
    font-weight: bold;
    color: #1b1c1d;
    padding: 10px;
    line-height: 2.2rem;
}

.post_desc{
    padding: 5px;
    font-size: 1.2rem;
    line-height: 1.7rem;
    color: #676767;
}

.content-block{
    padding: 15px;
    background-color: rgba(230, 230, 230, 0.5);
}

.content-block:hover{
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 768px) {
    .top_bar {
        background-size: auto 120%;
        height: 120px;
    }

    .top_bar_black{
        font-size: 2.3rem;
        padding-top: 53px;
    }

    .post_title{
        font-size: 1.5rem;
    }

    .post_desc{
        font-size: 1rem;
    }

    .outside_container{
        padding: 15px;
    }
}


.masonry.grid {
    display: block;
}

@media only screen and (min-width: 768px) {
    .masonry.grid {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
        -webkit-column-gap: 0;
        -moz-column-gap: 0;
        column-gap: 0;
    }

    .ui.doubling.masonry.grid[class*="three column"] > .column {
        width: 100% !important;
    }
}

@media only screen and (min-width: 992px) {
    .masonry.grid {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }
}